/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import 'variables';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation';

@import 'templates/hero-area';

@import 'templates/homepage';

@import 'templates/blog';

@import 'templates/about';

@import 'templates/portfolio';

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.primary-selection{
  background-color: rgb(255,247,190) !important;
}

header{
  nav{
    a{
      h1{
        font-size: 40px;
        color:black;
      }
    }
  }
}

body{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.title-font{
  font-family: 'Kosugi Maru', sans-serif;
}

.logo-font{
  font-family: 'Architects Daughter', cursive;
}

#navigation{
 .navbar-nav{
   .nav-item{
     .nav-link{
       color: black;
     }
   }
 }
}

#about{
  p{
    height: 8rem;
    margin: 2rem 0;
  }
}

#what{
  .d-block{
    display: block;
    text-align: center;
    font-size: 2rem;
    ul{
      margin: 2rem 0;
    }
  }
  img{
    width: 70%;
  }
}

#doing{
  .card-img{
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 45%;
    }
  }
}

#history{
  .video{
    text-align: center;
    video{
     height: 50%;
     width: 50%;
    }
  }
}

  .bg-footer-color{
    background-color: rgb(56,63,82);
  }

  .layer-bg{
    height: 100%;
  }

  .row{
    width: 100%;
  }