/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

@import 'variables';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation';

@import 'templates/hero-area';

@import 'templates/homepage';

@import 'templates/blog';

@import 'templates/about';

@import 'templates/portfolio';

.primary-selectiom{
  background-color: rgb(255,247,190) !important;
}

header{
  nav{
    a{
      h1{
        font-size: 40px;
        color:black;
      }
    }
  }
}

#navigation{
 .navbar-nav{
   .nav-item{
     .nav-link{
       color: black;
     }
   }
 }
}

#parallax{
    background-color: aliceblue;
}

#about{
  p{
    height: 8rem;
    margin: 2rem 0;
  }
}

#what{
  .d-block{
    display: block;
    text-align: center;
    font-size: 2rem;
    ul{
      margin: 2rem 0;
    }
  }
  img{
    width: 70%;
  }
}

#doing{
  .card-img{
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 45%;
    }
  }
}